name: Build Releases

on:
  release:
    types: [ created ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: GetVersion
        id: getVersion
        uses: actions/github-script@v4.0.2
        with:
          script: |
            const version = context.ref.replace("refs/tags/", "")
            core.setOutput('version', version);

      - name: Install dependencies
        run: |
          go get -u github.com/spf13/cobra
          go get -u github.com/inconshreveable/mousetrap

      - name: Make
        run: make

      - name: Rename
        run: |
          mv dist/linkdeep_linux32 dist/linkdeep_${{ steps.getVersion.outputs.version }}_linux32
          mv dist/linkdeep_linux64 dist/linkdeep_${{ steps.getVersion.outputs.version }}_linux64
          mv dist/linkdeep_macos dist/linkdeep_${{ steps.getVersion.outputs.version }}_macos
          mv dist/linkdeep_win32.exe dist/linkdeep_${{ steps.getVersion.outputs.version }}_win32.exe
          mv dist/linkdeep_win64.exe dist/linkdeep_${{ steps.getVersion.outputs.version }}_win64.exe

      - name: Publish
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/linkdeep_${{ steps.getVersion.outputs.version }}_linux32
            dist/linkdeep_${{ steps.getVersion.outputs.version }}_linux64
            dist/linkdeep_${{ steps.getVersion.outputs.version }}_macos
            dist/linkdeep_${{ steps.getVersion.outputs.version }}_win32.exe
            dist/linkdeep_${{ steps.getVersion.outputs.version }}_win64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}